/* GENERAL */

$font-stack: Signika, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$in-zone: #da6c76;

$out-zone: #00ACEE;



/* SOCIAL VARIABLE */

$twitter: #55acee;
$github: #333;
$email: #da6c76;


/* LOADER VARIABLE */
$paint-color:
  #2ecc71,
  #3498db,
  #9b59b6,
  #e67e22,
  #c0392b,
  #e74c3c,
  #e74c8c;

$items: item-1 item-2 item-3 item-4 item-5 item-6 item-7;

$delay: -1s;
