button {
  opacity: 1;
  border: none;
  cursor: pointer;
  padding: 15px 35px;
  margin: 15px 0px 15px 30px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  background: #cb4e4e;
  color: #fff;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 6px #ab3c3c;
  @include transition(background-color 0.3s, opacity 0.4s);
}

button.upload-button {
  margin: 0;
  border-radius: 40px;
  width: 170px;
  font-size: 10px;

  span {
    color: #ffffff !important;
  }

  input {
    display: none;
  }
}

button:hover {
  top: 2px;
  box-shadow: 0 4px #ab3c3c;
}

button:active {
  top: 6px;
  box-shadow: 0 0 #ab3c3c;
}

button.selected {
  top: 6px;
  background-color: #2ecc71;
  box-shadow: 0 0 #ab3c3c;
}
