section.draggable-zone {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);

  .content {
    @include flex(1);
    @include flex-flow (flex-start);
    @include align-items(center);
    box-sizing: border-box;
    max-width: 800px;

    .draggable-place {
      @include display(flex);
      @include flex-direction(row);
      @include align-items (center);
      @include transition(.5s);
      box-sizing: border-box;
      min-height: 450px;
      text-align: center;
      margin: 40px 20px 40px 25px;
      border: 8px dashed $out-zone;
      box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);

      .container-placeholder {
        @include flex(4);
        @include align-self(center);
        @include transition(opacity 0.4s);
        opacity: 1;

        .wrapper {
          @include display(flex);
          @include flex-direction(column);
          @include align-items (center);

          i {
            @include flex(1);
            @include align-self(center);
            font-size: 10em;
            color: $in-zone;
          }

          p {
            @include flex(1);
            @include align-self(center);
            font-size: .9em;
            color: gray;
          }

          span {
            @include flex(1);
            @include align-self(center);
            margin: 10px;
            font-size: 1em;
            color: gray;
          }
        }
      }
      .container-buttons {
        @include transition(opacity 0.4s);
      }
      .container-placeholder.hide,
      .container-buttons.hide {
        opacity: 0;
      }
    }
    .draggable-place.loadingColor {
      border-color: $in-zone;
    }
    .draggable-place:hover{
      border-color: $in-zone;
    }
  }
}
section.draggable-zone:after {
  content: '';
  display: block;
  height: 45px;
}
